.algo{
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 60vh;
    height: 30vh;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;

}

.st-emotion-cache-arzcut{
    background-color: black;
}